*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
 }

 #fondo{
  background: url(../images/91L5+uhGEeL._AC_SX522_.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  }

  #Cabeza{
    color: white;
    display: flex;
    position: fixed;
    z-index:1;
    width: 100%;
    height: auto;
    background: rgba(149, 164, 165, 0.5);
    padding: 5px;
}

#Cabeza h1{
  float: left;
}

.menu{
  float: right;
  margin-top: 10px;
  display: block;
   }

.menu li{
list-style: none;
float: left;
margin: 5px;
 }

.menu li ul{
display: none;
position: absolute;
}

.menu li:hover ul{
display: block;
}

.menu li ul li{
position: relative;
}

.menu li ul li ul{
height: -145;
top:0px;
padding: 10px;
}

.ContenedorNav{
  width: 100%;
  margin:auto;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  
}

#titulo{
  color: white;
  display: flex;
  width: 100%;
} 


#titulo h1{
  float: left;
}

.contenedorTitu{
  background: rgba(149, 164, 165, 0.5);
  color: rgb(247, 236, 236);
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  position: relative;
  top:50px;
  width: 100%;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;

}

.menu a:hover{
  background: rgb(251, 251, 251,0.5);
}

#Principal{
  color: #FFF;
   position: relative;
   top:55%;
   padding: 10px;
}

.ContenedorPrin{
  font-weight: 600;
  font-size: 20px;
}

.ContenedorPrin a{
 color: #FFF;
 text-decoration: none;
 width: 10%;
 padding: 5px 10px;
}


footer{
  text-align: center;
  padding: auto;
  bottom: 0;
  width: 100%;
}

.Alim{
  text-align: center;
  padding: 10px;
  margin: 15px;
}


.Alim video{
   border-radius: 15px;
   border: 2px solid black;
   padding: 15px;
}

.Alim p{
  width:26% ;
  display: inline-block;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}



