*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: rebeccapurple;
  font-size: 18px;
 }

 p{
     margin: 100px;
     text-align: justify;
    line-height: 30px;
    
 }

 h3{
     text-align: center;
 }

#fondo{
    background: url(../images/restaurant-cafe-appliances-tables-wallpaper-preview.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
   
    }
 
      
     
    #Cabeza{
        color: white;
        display: flex;
        position: fixed;
        z-index:1;
        width: 100%;
        height: auto;
        background: rgba(149, 164, 165, 0.5);
        padding: 5px;
    }
    
    #Cabeza h1{
        float: left;
    }
    
    .menu{
        float: right;
        margin-top: 10px;
        display: block;
         }
    
    .menu li{
    list-style: none;
    float: left;
    margin: 5px;
       }
    
    .menu li ul{
      display: none;
      position: absolute;
    }
    
    .menu li:hover ul{
      display: block;
    }
    
    .menu li ul li{
      position: relative;
    }
    
    .menu li ul li ul{
      height: -145;
      top:0px;
      padding: 10px;
    }
    
    .menu a{
        color: white;
        text-decoration: none;
        padding: 5px 20px;
    
    }
    
    .menu a:hover{
        background: rgb(251, 251, 251,0.5);
    }
    
    .ContenedorNav{
        width: 100%;
        margin:auto;
        font-family: 'Shadows Into Light', cursive;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 5px;
        
    }
    
    footer{
text-align: center;
    }

   .lista{
        display: inline-block;
        width: 45%;
        margin: auto;
        border-radius: 10px;
        text-align: left;
    }
    
    #lista{
       text-align: center;
    }

    .epoca{
        display: inline-block;
        border: 2px solid black;
        width: 45%;
        margin: 0%;
        border-radius: 10px;
    }