
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


*{
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
   }
.fondo{
    display: grid;
    grid-template-columns: 18.5% 18%;
    grid-template-rows: repeat(2, 378px);
    grid-template-areas:
    "arriba derecha"
    "abajo izquierda";
  }

  .item1 {
    grid-area: arriba;
    background-image: url(../images/1.png);
  

}

.item2 {
    grid-area: derecha;
    background-image: url(../images/2.png);
}

.item3 {
    grid-area: abajo;
    background-image: url(../images/3.png);
    height: 66%;
}

.item4 {
    grid-area: izquierda;
    background-image: url(../images/4.png);
    height: 66%;
}

#imagen2{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin-left: 210px;
    margin-top: 15px;
    z-index: 2;
    width: 10%;
   
}
.perfil{
    background: #F1D793;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin-left: 67px;
    margin-top: 7%;
    z-index: 2;
    width: 28%;
    height: 500px;
    border-radius: 5%;
    border: solid black 1px;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 2rem;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 210px;
    margin-top: 573px;
    z-index: 3;
    width: 9.8%;
    border-radius: 2rem;
    padding: 0.9rem;
    font-size: 12px;
    background: #FFBF00;
    font-weight: bold;
    border: none;
}